.swiper {
   max-width: 350px;
   max-height: 350px;

   .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .mylink {
      text-decoration: none;
      color: black;
   }

   .mylink:hover {
      color: #533825;
      text-decoration: underline;
   }

   .swiper-slide img {
      display: block;
      width: 100%;
      object-fit: cover;
   }
}