.home-page {
    width: 100%;
    background: url('../../assets/pic/shoes.jpeg') no-repeat fixed center;
    background-size: cover;

    .container {
        width: 100%;
        background: transparent;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 50px;
        backdrop-filter: blur(8px);

        .description {
            color: #fff;
            margin-block: 10px;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            background: rgba(0, 0, 0, 0.5);
            padding: 10px;
        }
    }

    .divider {
        height: 400px;
    }
}

.products-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-block: 20px;
    flex: 1;

    .products-list {
        margin: 0;
    }
}

.product-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;

    img {
        height: 450px;
        width: 370px;
        object-fit: cover;
    }

    .images {
        display: flex;
        flex-direction: column;

        .image-list {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 370px;
            height: 100px;
            margin-top: 20px;
            overflow-y: hidden;
            overflow-x: auto;

            &::-webkit-scrollbar {
                width: 10px;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                margin-inline: 4px;
            }
        }
    }

    .card-content {
        margin-inline-start: 20px;

        .card-button {
            border: 1px solid #ccc;
            padding: 5px 10px;
            cursor: pointer;
            margin-top: 20px;
        }
    }
}

.not-found-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        text-decoration: none;
    }
}