.header {
    a {
        text-decoration: none;
        color: #fff;
    }

    .logo {
        font-weight: 700;
        font-size: 1.1em;
    }

    .header-icon {
        color: #fff !important;
    }
}

.drawer {
    .logo {
        width: 100%;
        text-align: center;
        margin-top: 4px;
        font-weight: 800;
        font-size: 1.3em;
        border-bottom: 1px solid #888;
    }
}